body {
	font-family: 'Reggae One', cursive;
	font-family: 'Stick', sans-serif;
	font-family: 'Reggae One', cursive;
	background: #f5dbda;
	align-items: center;
	justify-content: center;
}

.left {
	text-align: start;
}

.down {
	margin-top: 30px;
}

h2 {
	margin-top: 1px;
	margin-bottom: 7px;
}

#logo {
	height: 115px;
	width: 15%;
	border-radius: 15px;
	margin-top: 10px;
}

.header {
	color: yellow;
	font-family: 'Yeon Sung';
	font-size: 45px;
	letter-spacing: 10px;
	margin-top: 10px;
	text-shadow: 10px 0 3px red, 10px 0 7px blue;
	background-color: palevioletred;
	border-radius: 15px;
}

.main_div {
	background: linear-gradient(to right,
			#f06d06,
			rgb(255, 255, 0),
			green);
	float: none;
	border-radius: 50px 0px 50px 0px;
	margin-top: 5%;
	height: fit-content;
	text-align: center;
	padding-top: 5px;
	padding-bottom: 10px;
	width: 95%;
	box-shadow: -5px -5px 30px 5px cyan, 5px 5px 30px 5px red;
}

li {
	font-size: 20px;
	font-family: 'Reggae One';

}

#h3 {
	font-size: 50px;
	font-family: 'Reggae One';
}

#img_style {
	height: 200px;
	width: 300px;
	text-align: center;
	border-radius: 15px;
}

#bullets {
	float: left;
	height: 50px;
	border-radius: 50px;
}

p {
	font-size: 20px;
}



/*RADIO BUTTON STYLES*/

.radio-toolbar {
	margin: 10px;
}

.radio-toolbar input {
	opacity: 0;
	position: fixed;
	width: 0;
}

.radio-toolbar label {
	display: flex;
	background-color: #ddd;
	padding: 10px 20px;
	font-family: sans-serif, Arial;
	font-size: 16px;
	border: 2px solid #000000;
	border-radius: 50px;
	height: fit-content;
}



.radio-toolbar label:hover {
	background-color: white;
	transition: 0.5s;
}

.radio-toolbar input:focus+label {
	border: 2px dashed #444;
}

/*AGE*/
#radio_below_20:checked+label {
	background-color: honeydew;
}

#radio21-40:checked+label {
	background-color: greenyellow;
	border-color: red;
}

#radio41-60:checked+label {
	background-color: yellow;
	border-color: red;
}

#radio60-plus:checked+label {
	background-color: #ff9100;
	border-color: red;
}

#radio60-comorbid:checked+label {
	background-color: red;
	border-color: white;
}

/*SYMPTOMS*/

#symptom1:checked+label {
	background-color: whitesmoke;
	border-color: red;
}

#symptom2:checked+label {
	background-color: greenyellow;
	border-color: red;
}

#symptom3:checked+label {
	background-color: yellow;
	border-color: red;
}

#symptom4:checked+label {
	background-color: #ff9100;
	border-color: white;
}

#symptom5:checked+label {
	background-color: red;
	border-color: white;
}

/*TRAVEL*/

#travel_no:checked+label {
	background-color: greenyellow;
	border-color: red;
}

#travel_yes:checked+label {
	background-color: red;
	border-color: white;
}

/*CONTACT*/
#no_contact:checked+label {
	background-color: greenyellow;
	border-color: red;
}

#short_contact:checked+label {
	background-color: #ff9100;
	border-color: white;
}

#with_contact:checked+label {
	background-color: red;
	border-color: white;
}


/*CUSTOMS*/

.points {
	margin-left: 750px;
	height: 30px;
}


.left {
	text-align: start;
}

.down {
	margin-top: 30px;
}

.custom_padding {
	white-space: nowrap;
	overflow-x: auto;
	overflow-y: hidden;
}

hr {
	margin-top: 10px;
	margin-bottom: 10px;
}

.custom-toolbar {
	margin-top: 50px;
}

;

#and_or {
	margin-top: 30px;
}

#twenty {
	font-family: sans-serif;
	font-weight: bold;
	font-size: 30px;
	margin-bottom: 20px;
	color: red;
}

#score {
	border: 2px solid #000000;
	border-radius: 0 10px 0 10px;
	width: 50px;
	justify-self: center;
	margin-left: 39%;
	margin-top: 100px;
	margin-bottom: 20px;

}

#hr {
	border: dashed black;
	margin-bottom: 20px;
}

.custom_div1 {
	background-color: lightblue;
	float: none;
	border-radius: 50px 0px 50px 0px;
	margin-top: 5%;
	height: fit-content;
	text-align: center;
	padding-top: 5px;
	padding-bottom: 30px;
	width: fit-content;
	box-shadow: 5px 5px 50px blueviolet;
	padding-left: 10px;
	padding-right: 10px;
	padding: auto;
	margin-right: 100px;
}

.custom_div2 {
	background-color: lightblue;
	float: none;
	border-radius: 50px;
	margin-top: 5%;
	height: 390px;
	text-align: center;
	padding-top: 5px;
	padding-bottom: 30px;
	width: 300px;
	box-shadow: 5px 5px 50px blueviolet;
	padding-left: 10px;
	padding-right: 10px;
	padding: auto;
}

.btn-success {
	margin-top: 100px;
}

.div_span{
	display: inline-flex;
	align-items: center;
}

#results{
	font-family:cursive;
	margin-top: 60%;
	box-shadow: 15px 15px 30px white;
	transition: all 1s linear;
	background-color: greenyellow;
}

.down_1{
	margin-top: 100px;
}